<!DOCTYPE html>
<html>
  <head>
    <title>DAY4</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
        .goWriting{
          text-decoration: underline;
          border: none;
          background-color: transparent;
          color: white;
          font-size: 15px;
          cursor: pointer;
        }
    </style>
  </head>
  <body>
    <h1 style="color:black">페이퍼 작성 성공!</h1>
    <div style="text-align: center;">
        <button class="goWriting"style="text-align: center;" onclick="hrefLink()">메인으로</button>
    </div>
    <script type="text/javascript">
        link = '/';

        function hrefLink() {
            location.href = link;
        }
    </script>
  </body>
</html>
